<!-- .wr-catalog>ul.ul-d.list-catalog.lvl-1.row>li.li-d.item-catalog*3>ul.ul-d.list-catalog.lvl-2>li.li-d.title-category+li.li-d*5>a.a-d[href="#"]^+li.li-d{Показать больше}>span.ic -->
<div class="wr-catalog">
	<ul class="ul-d list-catalog lvl-1 row">
		<li class="li-d item-catalog col s12 m6 l4 p0">
			<ul class="ul-d list-catalog lvl-2">
				<li class="li-d title-category before"><a href="/catalog/" class="a-d link-catalog">Черная икра</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Горкунов</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Волгореченск</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Русский икорный дом</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Золото Каспия</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Астраханская</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Показать больше<span class="ic down-arrow"></span></a></li>
			</ul>
		</li>
		<li class="li-d item-catalog col s12 m6 l4 p0">
			<ul class="ul-d list-catalog lvl-2">
				<li class="li-d title-category before"><a href="/catalog/" class="a-d link-catalog">Красная икра</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Горкунов</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Волгореченск</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Русский икорный дом</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Золото Каспия</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Астраханская</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Показать больше<span class="ic down-arrow"></span></a></li>
			</ul>
		</li>
		<li class="li-d item-catalog col s12 m6 l4 p0">
			<ul class="ul-d list-catalog lvl-2">
				<li class="li-d title-category before"><a href="/catalog/" class="a-d link-catalog">Копченая рыба</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Горкунов</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Волгореченск</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Русский икорный дом</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Золото Каспия</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Астраханская</a></li>
				<li class="li-d"><a href="/catalog/" class="a-d link-catalog">Показать больше<span class="ic down-arrow"></span></a></li>
			</ul>
		</li>
	</ul>
</div>