/node_modules
/bower_components

/theme/wp-content/themes/kremlev/css
/theme/wp-content/themes/kremlev/js
/theme/wp-content/themes/kremlev/img
/theme/wp-content/themes/kremlev/fonts

/app/cn3bie/templates/default/css
/app/cn3bie/templates/default/js
/app/cn3bie/templates/default/img
/app/cn3bie/templates/default/fonts

yarn*

sftp-config.json